.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: relative;
}

button {
	background-color: #FF5A5F;
	color: #FFFFFF;
	font-size: 18px;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	right: 30px;
	margin-top: -24px;
}

button:hover {
	opacity: 0.9;
}

.locations, .amenities {
	display: inline-block;
	height: 100%;
	width: 25%;
	padding-left: 30px;
}

.locations {
	border-right: 1px solid #DDDDDD;
}

.locations h3, .amenities h3 {
	font-weight: 600;
	margin-bottom: -15px;
}

.locations h4, .amenities h4 {
	font-weight: 400;
	font-size: 14px;
}