.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: relative;
	margin-bottom: 0px;
}

button {
	background-color: #FF5A5F;
	color: #FFFFFF;
	font-size: 18px;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	position: absolute;
	top: 50%;
	right: 30px;
	margin-top: -24px;
}

button:hover {
	opacity: 0.9;
}

.locations, .amenities {
	display: inline-block;
	height: 100%;
	width: 25%;
	padding-left: 30px;
	position: relative;
}

.locations {
	border-right: 1px solid #DDDDDD;
}

.locations h3, .amenities h3 {
	font-weight: 600;
	margin-bottom: -15px;
}

.locations h4, .amenities h4 {
	font-weight: 400;
	font-size: 14px;
}

.popover {
	display: none;
	background-color: #FAFAFA;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: absolute;
	top: 70px;
	left: 0;
	margin-top: 0px;
	padding-left: 0;
	padding-bottom: 40px;
}

.popover h2 {
	margin-bottom: 0px;
	font-size: 16px;
}

.popover li {
	list-style: none;
	line-height: 175%;
	padding-left: 30px;
}

.popover ul {
	padding-left: 20px;
}

.popover ul li {
	padding-left: 0px;
}

.locations:hover .popover {
	display: inline-block;
	z-index: 100;
}

.amenities:hover .popover {
	display: inline-block;
	padding-top: 20px;
	margin-left: -4px;
}