.places {
	text-align: center;
}

.places h1 {
	vertical-align: top;
	text-align: left;
	font-size: 30px;
}

article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	height: 310px;
}

article h2 {
	font-size: 30px;
	text-align: center;
	margin-top: 0px;
	display: inline-block;
	margin-right: -50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 10px;
	margin-bottom: 10px;
}

.price_by_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	text-align: center;
	vertical-align: top;
	float: right;
	line-height: 60px;
	margin-top: -10px;
}

.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	margin: auto;
	overflow: hidden;
	display: block;
	clear: both;
	margin-top: 10px;
}

.max_guest {
	width: 100px;
	display: inline-block;
	padding-top: 5px;
}

.max_guest::before {
	content:url("../images/icon_group.png");
	display: block;
}

.max_guest::after {
	display: inline-block;
}

.number_rooms {
	width: 100px;
	display: inline-block;
}

.number_rooms::before {
	content: url("../images/icon_bed.png");
	display: block;
}

.number_rooms::after {
	display: inline-block;
}

.number_bathrooms {
	width: 100px;
	display: inline-block;
}

.number_bathrooms::before {
	content: url("../images/icon_bath.png"); 
	display: block;
}

.number_bathrooms::after {
	display: inline-block;
}

.user {
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

.description {
	text-align: left;
}